.toggle {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
	height: 3rem;
	width: auto;
	margin: 0;
	background-color: transparent;
	border: none;
}

.toggle	svg {
	display: block;
	position: relative;
}

.toggle[data-theme='light'] svg {
	fill: #000;
}

.toggle[data-theme='dark'] svg {
	fill: #fff;
}

.toggle[data-theme='unicorn'] svg {
	fill: #000;
}
